[Unit]
Description=JIrcBot
After=network.target

[Service]
User=bvn13
WorkingDirectory=/srv/jircbot
ExecStart=/usr/bin/java -jar /srv/jircbot/jircbot-2.0.5.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target